.fieldAndbutton {
  display: flex;
  max-width: 400px;
  width: 400px;
  margin-top: 15px;
  justify-content: center;
}
.activity_text_field {
  margin-right: 10px;
  width: 70%;
}

.imagePlaceholder {
  width: 200px;
  height: 200px;
  border: 3px dashed #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  margin-bottom: 20px;
  background-color: #ddd;
}
.datePicker {
  width: 150px;
}

.budgetLabel {
  font-size: 19px;
  margin-bottom: 10px;
}
