.tripform_autocomplete {
  margin: 20px 0px;
}

.tripname_input {
  margin: 20px 0px;
}

.choosedates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0px;
}

.datesTO {
  margin: 15px;
}

.description_input {
  max-width: 400px;
  margin: 20px 0px;
}

.uploadImageContainer {
  margin-bottom: 20px;
}

.activity_list {
  max-width: 400px;
}

.budgetContainer {
  margin: 20px 0px;
}
.wholePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.formItems {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0px 30px 0px;
}
.leftSide {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
}
.rightSide {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
  align-items: center;
}
