.tripform_autocomplete {
  margin: 15px 0px;
}

.tripname_input {
  margin: 15px 0px;
}

.choosedates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 0px;
}

.datesTO {
  margin: 15px;
}

.description_input {
  max-width: 400px;
}

.upload_image_button {
  margin: 15px 0;
}

.activity_list {
  max-width: 400px;
}

.budgetContainer {
  margin: 15px 0px;
}
