.messagesContainer {
  width: 100%;
  height: 92vh;
}

.messagesMain {
  flex: 2.5 1 auto;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1vw;
  padding-bottom: 0;
}

.chat {
  height: 90%;
  overflow: auto;
  justify-content: flex-end;
  margin-bottom: 0.5vw;
}

.message {
  padding: 0.25vw;
  margin-bottom: 0.25vw;
}

.messageHead {
  min-width: 180px;
}

.chatInput {
  padding: 4px;
  flex: 1 1 auto;
  outline: none;
  border: none;
  background: none;
}

.chatBox {
  width: 100%;
  height: 32px;
  padding: 0;
  margin-bottom: 0.5vh;
  box-sizing: content-box;
  border: 1px solid;
  border-radius: 25px;
  align-items: center;
}

.messagesTrips {
  flex: 1 1 auto;
}

.attendeeList {
  flex: 1 1 auto;
  padding: 1vw;
  min-width: 240px;
  justify-content: flex-start;
}

.attendee {
  padding: 0.25vw;
  margin-bottom: 0.25vw;
}

.myTripsMsg {
  width: 300px;
  margin: 1vw;
  padding: 1vw;
  align-items: center;
  justify-content: flex-start;
  background-color: #1d53a48c;
  border-radius: 25px;
  overflow: overlay;
}

.tripCardMsg {
  width: 90%;
  min-height: 280px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 1vh;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  background-color: antiquewhite;
}

.cardTitleMsg {
  width: 90%;
  text-align: center;
  align-items: center;
}

.cardText {
  padding-bottom: 0.25vh;
  font-size: 1rem;
}

.cardText * {
  margin: 0;
}

.pollModal {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.pollContainer, .pollResults {
  background-color: white;
  padding: 2vh;
  border-radius: 25px;
}

.pollResults {
  max-width: 400px;
}